<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://oslometazurefunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e416ffc0-c8eb-4e73-befe-17cb3128ee96/resourceGroups/OsloMetDigitalAssistant/providers/Microsoft.Web/sites/OsloMetAzureFunctions</ResourceId>
    <UserName>$OsloMetAzureFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://oslometazurefunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>